{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<!--[if IE]>
<link rel="stylesheet" href="{{ asset('css/ie.css') }}" />
<![endif]-->
{% endblock %}
{% block body %}

    <div id="designBzSnd_corps">
        <header>
            <div id="designBzSnd_header">
                {% block header %}
                <div id="designBzSnd_menu">
                    <nav>
						{% render controller("BzSndAcceuilBundle:Contextee:menu") %} 
                    </nav>
                </div>
                {% endblock %}
            </div>
        </header>
        <div id="designBzSnd_global">
    {% block corps %}
			<div id="designBzSnd_zones">
		{% block zone_corps %}
                                {#
				<div id="designBzSnd_zone_gauche">
				 
					<section>
						{% block zone_gauche %}
						{% render controller("CshbEquipeBundle:Menu:informations") %}
						{% render controller("CshbAccueilBundle:Contexte:informations") %}
						{% endblock %}
					</section>
						
				</div>
                                 #} 
				<div id="designBzSnd_zone_droite">  
				 				
					<section>
						{% block zone_droite %}
						{% render controller("BzSndAcceuilBundle:Contextee:exemple1") %}
                                                
                                               {% render controller("BzSndAcceuilBundle:Contextee:exemple2") %}
						{% endblock %}
					</section>
					 
				</div>
				<div id="designBzSnd_zone_contenu">
					<section>
							{% block zone_contenu %}{% endblock %}
					</section>
				</div>
                                
                                
         {% endblock %}
			</div>
    {% endblock %}
	
 
   </div>
	   
	
  </div>
   <footer>
				<div id="designBzSnd_footer">
				
					{% block footer %}
					{% render controller("BzSndAcceuilBundle:Contextee:bas") %}
					{% endblock %}
					 
				</div>
			</footer>
{% endblock %}
