{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/style.css') }}" />
<!--[if IE]>
<link rel="stylesheet" href="{{ asset('css/ie.css') }}" />
<![endif]-->
{% endblock %}
{% block body %}

  <div id="designBzSnd_menu">
                 
						{% render controller("BzSndAcceuilBundle:Contextee:menu") %} 
                   
                </div>


    <div id="designBzSnd_corps">
      
          
        <div id="designBzSnd_global">
            
            
          
            
            
    {% block corps %}
			<div id="designBzSnd_zones">
		{% block zone_corps %}
                                {#
				<div id="designBzSnd_zone_gauche">
				 
					<section>
						{% block zone_gauche %}
						{% render controller("CshbEquipeBundle:Menu:informations") %}
						{% render controller("CshbAccueilBundle:Contexte:informations") %}
						{% endblock %}
					</section>
						
				</div>
                                 #} 
				
				
                          
                              
                              
                              <div id="designBzSnd_zone_contenu" style="display: none;">
					<section>
							{% block zone_contenu %}{% endblock %}
					</section>
                            </div>
                                
                                
         {% endblock %}
			</div>
    {% endblock %}
	
 
   </div>
	   
	
  </div>

{% endblock %}
