/*
 * Général
 */

html {
    height : 100%;
}
body {
    height:100%;
    margin:0px;
    padding:0px;
    font-size:12px;
    font-family:Arial,Verdana,sans-serif;
	background-color: black;
	background-image: -webkit-linear-gradient(
		left,
		#BDBDBD,
		#585858 25%,
		#585858 75%,
		#BDBDBD
	);
	background-image: -moz-linear-gradient(
		left,
		#BDBDBD,
		#585858 25%,
		#585858 75%,
		#BDBDBD
	);
	background-image: -o-linear-gradient(
		left,
		#BDBDBD,
		#585858 25%,
		#585858 75%,
		#BDBDBD
	);
	background-image: linear-gradient(
		left,
		#BDBDBD,
		#585858 25%,
		#585858 75%,
		#BDBDBD
	);
}

img{
	border: 0px;
}

/**
 * Définitions globales
 */
header,footer, h1, nav, section{
    margin:0px;
    padding: 0px;
}

label {
	display: block;
	width: 150px;
	float:left;
	margin-left: 10px;
	margin-top: 10px;
}

input{
	margin-top: 10px;
}

table, tr, td{
	border-collapse: collapse;
}

th, td{
	padding: 5px;
}

#_submit{
margin-left: 10px;
}

/*
 * Header
 */
div#designBzSnd_header ul{
	width: 985px;
	margin: 0px auto;
	display: block;
	padding: 5px;
}

div#designBzSnd_header ul a{
	color: #fff;
	text-decoration: none;
}
div#designBzSnd_header nav{
	height:50px;
}
div#designBzSnd_header h1 img{
	display: inline-block;
	vertical-align: bottom;
	background-color: #fe5;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 0px 0px 100px 100px #fe5;
	z-index: 1;
	position: relative;
}

div#designBzSnd_header h1{
	min-height: 100px;
	text-align: center;
	margin: 0px;
	background-image: url('../images/back_arrow_to_menu.png'), url('../images/back_arrow_left.png'), url('../images/back_logos.png'), -webkit-linear-gradient(
		left,
		#ed1,
		#fe5 25%,
		#fe5 75%,
		#ed1
	);
	background-image: url('../images/back_arrow_to_menu.png'), url('../images/back_arrow_left.png'), url('../images/back_logos.png'), -moz-linear-gradient(
		left,
		#ed1,
		#fe5 25%,
		#fe5 75%,
		#ed1
	);
	background-image: url('../images/back_arrow_to_menu.png'), url('../images/back_arrow_left.png'), url('../images/back_logos.png'), -o-linear-gradient(
		left,
		#ed1,
		#fe5 25%,
		#fe5 75%,
		#ed1
	);
	background-image: url('../images/back_arrow_to_menu.png'), url('../images/back_arrow_left.png'), url('../images/back_logos.png'), linear-gradient(
		left,
		#ed1,
		#fe5 25%,
		#fe5 75%,
		#ed1
	);
	background-position: 80px bottom, top left;
	background-repeat: no-repeat, no-repeat, repeat, no-repeat;
}


div#designBzSnd_menu{
	background: #000;
	z-index: 3;
	position: relative;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

#designBzSnd_menu ul li{
	display: inline-block;
	padding: 5px 10px;
	margin: 0px;
        font-size: 27px;
        font-family:calibri;
	float: left; /* IE */
}

#designBzSnd_menu ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	min-height: 2em;
}

div#designBzSnd_menu a {
    display:block;
    padding: 0;
    color: #fff;
    text-decoration: none;
}

/**
 * Zones
 */

div#designBzSnd_global{
	background-color: #fff;
	width: 85%;
        min-height:800px;
        height:100%;
	position: relative; 
	margin: auto auto;
	box-shadow: 1px 40px 100px black;
}

div#designBzSnd_zones{
	clear: both;
        margin-bottom: 0px;
          padding-top: 0px;
          height:100%;
}

div#designBzSnd_zone_gauche{
    float: left;
	background-color: #fff;

}
div#designBzSnd_zone_gauche li{
	list-style-type: none;
}
div#designBzSnd_zone_gauche ul{
	padding-left: 0.5em;
	margin: 2px 0px;
}
div#designBzSnd_zone_droite{
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
    float: right;
	width: 200px;
	background-color: #fff;
}
div#designBzSnd_zone_droite a, div#designBzSnd_zone_gauche a{
	text-decoration: none;
	color: #08a;
}
div#designBzSnd_zone_droite a:hover, div#designBzSnd_zone_gauche a:hover{
	text-decoration: none;
	color: #55f;
}

div#designBzSnd_footer{
    
        position:fixed;
        bottom:0;
	width: 100%;
        height:45px;
	text-align: center;
        color:white;
	background: black;
        margin-top: 0px;
        padding-top: 0px;
}
.partenaire{
	display: inline-block;
	vertical-align: middle;
	padding-left: 25px;
	padding-right: 25px;
}


div#designBzSnd_zone_contenu{
/*     background: #fff; */
    margin: 0px 80px ;
   
}

div#designBzSnd_zone_contenu h1{
	font-size: 42px;
}

div#designBzSnd_zone_gauche, div#designBzSnd_zone_droite, div#designBzSnd_zone_contenu{
	padding: 10px;
}
	/* Lien */
#designBzSnd_zone_contenu a{
	text-decoration: none;
	color: #09b;
}

#designBzSnd_zone_contenu a:hover{
	color: #f80;
}

	/* Design standard du tableau de la zone de contenu */
#designBzSnd_zones table{
	background-color: #f5f5f5;
	border: 1px solid #e1e1e1;
}

#designBzSnd_zones table ul{
	padding: 0px;
	list-style-type: none;
}

#designBzSnd_zones table td{
	border: 1px solid #e1e1e1;
}

#designBzSnd_zones table th{
	background-color:#e1e1e1;
}

.erreur{
	color: #FF0000;
}

form div{
	margin: 5px 0px;
}

#ParentDig
{
margin-left:30px;


}