/*
 * Général
 */

html {
    height : 100%;
    margin:0;
    padding:0;
    background : url('../images/2.jpg') no-repeat center fixed;
     -webkit-background-size: 
         cover;
     -moz-background-size: 
         cover;
     -o-background-size:
         cover;
     background-size: cover;
}
body {
    height:100%;
    margin:0px;
    padding:0px;
    font-size:12px;
    font-family:Arial,Verdana,sans-serif;
	
}

img{
	border: 0px;
}

/**
 * Définitions globales
 */
header,footer, h1, nav, section{
    margin:0px;
    padding: 0px;
}

label {
	display: block;
	width: 150px;
	float:left;
	margin-left: 10px;
	margin-top: 10px;
}

input{
	margin-top: 10px;
}

table, tr, td{
	border-collapse: collapse;
}

th, td{
	padding: 5px;
}

#_submit{
margin-left: 10px;
}


/*
 * Menu 
 */



div#designBzSnd_menu{
	
	position:fixed;
        left:0;	
	box-shadow: 0px 3px 5px rgba(0,0,0,1.8);        
        height:100%;
        width:10%;
        /* Anciens navigateurs */

    

    -o-background-size: 100% 100%;

    -moz-background-size: 100% 100%;

    -webkit-background-size: 100% 100%;

    background-size: 100% 100%;

    /* Navigateurs récents */

    background: -webkit-gradient(

        linear,

        left top, left bottom,

        from(#000000),

        to(#2E2E2E)

    );

    background: -webkit-linear-gradient(

        top,

        #000000,

        #2E2E2E

    );

    background: -moz-linear-gradient(

        top,

        #000000,

        #2E2E2E

    );

    background: -o-linear-gradient(

       top,

        #000000,

        #2E2E2E

    );

    background: linear-gradient(

        top,

        #000000,

        #2E2E2E

    );

}

        
        
        






div#designBzSnd_menu a {

    color: #fff;
    font-size:30px;
    text-decoration: none;
    margin-top:200px;
    padding-top:100px
   
}


div#designBzSnd_menu a p {

 
    margin-top:10%;

   
}



/**
 * Zones
 */

div#designBzSnd_global{
	
	width: 70%;
        min-height:800px;
        height:100%;
	position: relative; 
	margin: auto auto;
      

}

div#designBzSnd_zones{
	clear: both;
        margin-bottom: 0px;
          padding-top: 50px;
          height:100%;
}




#BtnCmpt
{
    text-align:right;
    margin-right:15%;
   padding-bottom: 10px;
   
}



/* Zone contenu */

div#designBzSnd_zone_contenu{
    background: #fff; 
    margin: 40px 80px ;
    text-align: center;
   
}

div#designBzSnd_zone_contenu h1{
	font-size: 42px;
}

div#designBzSnd_zone_gauche, div#designBzSnd_zone_droite, div#designBzSnd_zone_contenu{
	padding: 10px;
}
	/* Lien */
#designBzSnd_zone_contenu a{
	text-decoration: none;
	color: #09b;
}

#designBzSnd_zone_contenu a:hover{
	color: #f80;
}

	/* Design standard du tableau de la zone de contenu */
#designBzSnd_zones table{
	background-color: #f5f5f5;
	border: 1px solid #e1e1e1;
}

#designBzSnd_zones table ul{
	padding: 0px;
	list-style-type: none;
}

#designBzSnd_zones table td{
	border: 1px solid #e1e1e1;
}

#designBzSnd_zones table th{
	background-color:#e1e1e1;
}

.erreur{
	color: #FF0000;
}

form div{
	margin: 5px 0px;
}

#ParentDig
{
margin-left:0px;


}

/* css pour les pop up */

.window{
                margin-top:45px;
		background-size: 40px 40px;
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);										
		 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 width: 25%;
		 border: 0px solid;
		 color: #fff;
		 padding: 15px;
		 position: fixed;
                 
		 _position: absolute;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 animation: animate-bg 5s linear infinite;
}

.account{
		 background-color: black;
		 border-color: #3b8eb5;
}

.error{
		 background-color: #de4343;
		 border-color: #c43d3d;
}
		 
.warning{
		 background-color: #eaaf51;
		 border-color: #d99a36;
}

.success{
		 background-color: #61b832;
		 border-color: #55a12c;
}

.message h3{
		 margin: 0 0 5px 0;													 
}

.message p{
		 margin: 0;													 
}

@keyframes animate-bg {
    from {
        background-position: 0 100;
    }
    to {
       background-position: 80px 0;
    }
}